.btn{
  font-family: inherit;
  width: 172px;
  background: #231E41;
  color: #FFF;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 12px 16px;
  border: 1px solid #7553F0;
  border-radius: 100px;
  cursor: pointer;
  transition: all .3s ease;
  text-align: center;
}

.btn:hover{
  background: #7553F0;
  border-color: #7553F0;
}